.contact-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-container .MuiTypography-h3{
    font-weight: bold;
    margin-bottom: 6vh;
}

.contact-links{
    background-color:linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.4) 10%,
        rgba(255, 255, 255, 0.1) 100%
    );
    backdrop-filter: blur(100px);

    height: 30vh;
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 25px 10px;

    @media screen and (max-width :900px) {
        /* display:flex; */
        height: max-content;
        flex-direction: column;
        gap: 5vh
    }

}

.contact-links .email{
    width: 100%;
    height: 100%;
    /* background-color: tomato; */
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    padding:0px 20px;
    

    @media screen and (max-width :900px) {
        width: 100%;
    height: 100%;
        flex-direction: column;
        gap: 5vh
    }

}

.contact-links .MuiChip-root{
    font-size:larger;
    background-color: transparent;
    font-family: poppins;
    cursor: pointer;
}


.contact-links .email .MuiChip-root{
    font-size:x-large;
    background-color: transparent;
    font-family: poppins;
    cursor: pointer;
}



.contact-links .MuiSvgIcon-root {
    font-size: xx-large;
    /* cursor: pointer; */
}

.contact-links .MuiDivider-root{
    @media screen and (max-width: 900px) {
        display: none;
    }
}


