.MuiToolbar-root {
  background: white;
  backdrop-filter: blur(2px);
  color: black;
  display: flex;
  justify-content: space-around;
}

.nav2 {
  display: flex;
  gap: 8vw;

  @media screen and (max-width: 900px) {
    display: none;
  }
}

.nav-container .MuiTypography-h5:hover {
  cursor: pointer;
  color: #4db6ac;
  transform: scale(1.3);
  transition-duration: 500ms;
}

.MuiTypography-subtitle1:hover {
  cursor: pointer;
  color: #304ffe;
  text-decoration: underline;
  transform: scale(1.3);
  transition-duration: 500ms;
  /* transition-delay: 100ms; */
}

.drawer {
  @media screen and (min-width: 900px) {
    display: none;
  }
}

/* 
xs, extra-small: 0px
sm, small: 600px
md, medium: 900px
/* lg, large: 1200px */
/* xl, extra-large: 1536px */
